<%= render partial: 'shared/summary' %>

<h1>Create Tool</h1>
<div class="tool_form">
<%= form_for([@user, @tool]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :quantity %>
  <%= f.number_field :quantity %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= collection_select(:tool, :category_id, Category.all, :id, :name) %>

  <%= f.submit %>
<% end %>
</div>
