<!DOCTYPE html>
<html>
  <head>
    <title>ToolChest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><strong>Newest tool:</strong> <%= most_recent_tool.name if tool_exists? %></p>
    <p> <%= current_tool_summary %></p>
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "flash_#{type}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
